MANIFEST
docs/_build
build
dist
borg-env
.tox
hashindex.c
chunker.c
compress.c
crypto.c
platform_darwin.c
platform_freebsd.c
platform_linux.c
platform_windows.c
platform_posix.c
*.egg-info
*.pyc
*.so
.idea/
.cache/
borg.build/
borg.dist/
borg.exe
*.dll
.coverage
.coverage.*
.vagrant
.eggs
